<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="language" content="russian">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AskPupkin - Ask and answer questions">
  <meta name="author" content="Fedukov">

  <!-- Load static-->
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load bootstrap_icons %}
  {% load static %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ponomar&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: "Ponomar", system-ui;
      font-weight: 400;
      font-style: normal;
    }
  </style>

  <!-- JS modules -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="{% static 'ajax.js' %}"></script>

  <!-- Title -->
  <title>{{ ctx.title|default:'AskPupkin' }}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body class="px-1 px-sm-2  mx-auto">
  <!-- Header -->
  <header class="bg-light navbar navbar-expand-lg bg-body-tertiary border-bottom border-secondary mb-3 p-1">
    <div class="container-fluid justify-content-start flex-nowrap col-lg-10 col-xxl-7 px-0 px-sm-2">
      <a class="navbar-brand text-dark me-2" href="{% url 'index' %}">
        <h1 class="">AskPupkin</h1>
      </a>
      <div class="col-6">
        <form class="container d-flex p-0 m-0" role="search">
          <input class="form-control me-2 col" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success col-4 col-sm-3 col-md-2" type="submit">ASK!</button>
        </form>
      </div>
      {% if ctx.auth.authenticated %}
      <!-- Authenticated -->
      <div class="ms-auto me-1 ps-sm-2 d-flex align-items-center col-sm-3">
        <div class="d-none d-sm-block me-1 me-md-3" style="width: 80px; height: auto;">
          <img src="{{ ctx.auth.profile.avatar.url }}" class="img-fluid img-thumbnail rounded-circle"
            alt="Profile picture">
        </div>
        <div class="d-flex flex-column justify-content-start p-0 m-0 align-items-center ps-1" style="min-width:0;">
          <!-- Username link for md+ screens, profile image as link for sm and less -->
          <a class="fw-bold fs-4 text-break text-dark text-decoration-none p-0 m-0 d-none d-md-inline"
            href="{% url 'profile' ctx.auth.profile.id %}">
            {{ ctx.auth.profile.user.username }}
          </a>
          <a href="{% url 'profile' ctx.auth.profile.id %}" class="d-inline d-md-none">
            {% bs_icon 'person-circle' %}
          </a>
          <div class="d-flex gap-1 p-0 m-0 flex-wrap justify-content-center align-items-start"
            style="font-size:0.95rem;">
            <!-- Labels for md+ screen -->
            <a class="p-0 m-0 d-none d-sm-inline" href="{% url 'settings' %}">settings</a>
            <a class="p-0 m-0 d-none d-sm-inline" href="#"
              onclick="document.getElementById('logout-form').submit()">logout</a>

            <!-- Icons for sm and less screens -->
            <a class="p-0 m-0 d-inline d-sm-none d-flex justify-content-center align-items-center"
              href="{% url 'settings' %}">{% bs_icon 'gear' %}</a>
            <a class="p-0 m-0 d-inline d-sm-none d-flex justify-content-center align-items-center" href="#"
              onclick="document.getElementById('logout-form').submit()">{% bs_icon 'box-arrow-right' %}</a>
              
            <!-- Logout form -->
            <form id="logout-form" action="{% url 'signout' %}?continue={{ request.path }}" method="post"
              style="display:none;">
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
      {% else %}
      <!-- Not authenticated -->
      <div class="container col-sm-3 me-0 d-flex justify-content-center gap-1 gap-sm-3 flex-wrap align-items-center">
        <a href="{% url 'login' %}?continue={{ request.path }}">
          <span class="d-none d-sm-inline">log in</span>
          <span class="d-inline d-sm-none d-flex justify-content-center align-items-center pe-2">
            {% bs_icon 'box-arrow-in-right' %}
          </span>
        </a>
        <a href="{% url 'signup' %}">
          <span class="d-none d-sm-inline">register</span>
          <span class="d-inline d-sm-none d-flex justify-content-center align-items-center">
            {% bs_icon 'person-plus'%}
          </span>
        </a>
      </div>
      {% endif %}
    </div>
  </header>
  <div class="container-fluid mx-auto d-flex col-lg-10 col-xxl-7">
    <!-- Main content -->
    <main class="container col-7 col-sm-{{ MAIN_COL|default:'8' }} border border-{{ MAIN_BORDER|default:'' }}">
      {% block content %} {% endblock %}
    </main>
    
    <!-- Aside info -->
    <aside class="ms-auto col-sm-3">
      <div class="container p-0 m-0">
        <h2 class="h2 ps-3 ps-sm-0">Popular Tags</h2>
        <div class="container ">
          {% if not ctx.hot_tags %}
          <p class="text-muted">No tags yet</p>
          {% endif %}
          {% for tag in ctx.hot_tags %}
          <a href="{% url 'tag' tag.name %}" class="badge rounded-pill bg-{{ tag.bs_type }}">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="container m-0 p-0">
        <h2 class="mt-3 mb-0 ps-3 ps-sm-0">Best Members</h2>
        <ul class="list-group list-group-flush">
          {% if not ctx.best_members %}
          <li class="list-group-item">
            <p class="text-muted">No members yet</p>
          </li>
          {% endif %}
          {% for profile in ctx.best_members %}
          <li class="list-group-item"><a href="{% url 'profile' profile.id %}">{{ profile.user.username }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</body>

</html>