<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="language" content="russian">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AskPupkin - Ask and answer questions">
  <meta name="author" content="Fedukov">

  <!-- Load static-->
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load bootstrap_icons %}
  {% load static %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ponomar&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: "Ponomar", system-ui;
      font-weight: 400;
      font-style: normal;
    }
  </style>

  <title>{{ ctx.title|default:'AskPupkin' }}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

</head>

<body class="px-2 mx-auto">
  <!-- Header -->
  <header class="bg-light navbar navbar-expand-lg bg-body-tertiary border-bottom border-secondary mb-3 p-1">
    <div class="container-fluid justify-content-start flex-nowrap col-lg-10 col-xxl-7">
      <a class="navbar-brand text-dark" href="{% url 'index' %}">
        <h1>AskPupkin</h1>
      </a>
      <div class="col-6 col-xl-5">
        <form class="container d-flex" role="search">
          <input class="form-control me-2 col" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success col-4 col-sm-3 col-md-2" type="submit">ASK!</button>
        </form>
      </div>
      {% if ctx.auth.authenticated %}
      <!-- Authenticated -->
      <div class="ms-auto ps-sm-2 d-flex align-items-center col-sm-3">
        <div class="d-none d-sm-block me-1 me-md-3" style="width: 80px; height: auto;">
          <img src="{{ ctx.auth.profile.avatar.url }}" class="img-fluid img-thumbnail rounded-circle"
            alt="Profile picture">
        </div>
        <div class="d-flex flex-column justify-content-center p-0 m-0  align-items-center" style="min-width:0;">
          <a class="fw-bold text-dark text-decoration-none p-0 m-0" href="{% url 'profile' 0 %}" style="font-size:1.5rem;white-space:nowrap;">{{ ctx.auth.profile.user.username }}</a>
          <div class="d-flex gap-1 p-0 m-0 flex-wrap justify-content-center" style="font-size:0.95rem;">
            <a class="p-0 m-0" href="{% url 'settings' %}">settings</a>
            <a class="p-0 m-0" href="#" onclick="document.getElementById('logout-form').submit()">log out</a>
            <form id="logout-form" action="{% url 'signout' %}?continue={{ request.path }}" method="post" style="display:none;">
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
      {% else %}
      <!-- Not authenticated -->
      <div class="container col-3 me-0 d-flex justify-content-center gap-3 flex-wrap">
        <a href="{% url 'login' %}?continue={{ request.path }}">log in</a>
        <a href="{% url 'signup' %}">register</a>
      </div>
      {% endif %}
    </div>
  </header>
  <main class="container-fluid mx-auto d-flex col-xl-10 col-xxl-7">
    <!-- Main content -->
    <section class="container col-{{ MAIN_COL|default:'8' }} border border-{{ MAIN_BORDER|default:'' }}">
      {% block content %} {% endblock %}
    </section>
    <!-- Aside info -->
    <aside class="ms-auto col-3">
      <div class="container">
        <h2 class="h2">Popular Tags</h2>
        <div class="container ">
          {% for tag in ctx.hot_tags %}
          <a href="{% url 'tag' tag.name %}" class="badge rounded-pill bg-{{ tag.bs_type }}">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="container">
        <h2 class="mt-3 mb-0">Best Members</h2>
        <ul class="list-group list-group-flush">
          {% for profile in ctx.best_members %}
          <li class="list-group-item"><a href="{% url 'profile' profile.id %}">{{ profile.user.username }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </main>
</body>

</html>