{% extends 'base.html' %}

{% block content %}
<!-- Log in -->
<h2 class="row mb-3 d-block">Log In</h2>
<div class="row">
    <form class="container needs-validation" novalidate>
        <div class="row mb-3">
            <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputLogin">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

        </div>

        <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="inputPassword" required>
                <div class="input-group has-validation">
                    <div class="invalid-feedback">
                        Wrong password
                    </div>
                </div>
            </div>
        </div>

        <label for="btnSave" class="col-sm-2 col-form-label"></label>
        <button type="submit" class="btn btn-primary my-2 col-2" id="btnSave">Log in!</button>
    </form>
</div>

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-5">
        <a href="/register">Create new account</a>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
 </script>
{% endblock %}