{% extends 'base.html' %}


{% block content %}
{% include 'card.html' with CARD_BORDER="" AVATAR_COL="3" type="main" %}
<hr>
<section class="d-flex flex-column gap-2 mb-3">
    <!-- for card in cards -->
    {% include 'card.html' with type="answer" %}
    {% include 'card.html' with type="answer" %}
    {% include 'card.html' with type="answer" %}
</section>
{% include 'pagination.html' %}
<hr>
<section class="container">
    <form action="" class="pb-3">
        <textarea class="w-100 mb-3" name="" id="" rows="6" placeholder="Enter your answer here."></textarea>
        <button type="submit" class="btn-dark col-2">Answer</button>
    </form>
</section>

{% endblock %}