{% extends 'base.html' %}


{% block content %}
{% include 'card.html' with card=main %}
<hr>
<section class="d-flex flex-column gap-2 mb-3">
    {% for card in answers.current_page %}
        {% include 'card.html' %}
    {% endfor %}
</section>
{% include 'pagination.html' with feed=answers%}
<hr>
<section class="container">
    <form action="" class="pb-3">
        <textarea class="w-100 mb-3" name="" id="" rows="6" placeholder="Enter your answer here."></textarea>
        <button type="submit" class="btn-dark col-2">Answer</button>
    </form>
</section>

{% endblock %}