{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Registration -->
<h2 class="row mb-3 d-block">Registration</h2>
<p class="text-danger">Sorry, this email adress is already registered!</p>
<div class="row">
    <form class="container needs-validation needs-align" novalidate>
        <div class="row mb-3">
            <label for="inputLogin" class="label-align col-form-label">Login</label>
            <div class="input-align">
                <input type="text" class="form-control" id="inputLogin">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail" class="label-align col-form-label">Email</label>
            <div class="input-align">
                <input type="email" class="form-control" id="inputEmail">
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputNick" class="label-align col-form-label">Nickname</label>
            <div class="input-align">
                <input type="text" class="form-control" id="inputNick">
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputNick" class="label-align col-form-label text-nowrap">Upload avatar</label>
            <div class="input-align text-center">
                <img class="" src="{% static 'default_profile.jpg' %}" alt="Old profile picture"
                    style="width: 80px; height: auto;">
            </div>
        </div>

        <div class="row mb-3">
            <label for="upload" class="label-align col-form-label"></label>
            <div class="input-align">
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPassword" class="label-align col-form-label">Password</label>
            <div class="input-align">
                <input type="password" class="form-control" id="inputPassword" required>
                <div class="input-group has-validation">
                    <div class="invalid-feedback">
                        Wrong password
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPassword2" class="label-align col-form-label">Repeat</label>
            <div class="input-align">
                <input type="password" class="form-control" id="inputPassword2" required>
                <div class="input-group has-validation">
                    <div class="invalid-feedback">
                        Wrong password
                    </div>
                </div>
            </div>
        </div>

        <label for="btnSave" class="label-align col-form-label"></label>
        <button type="submit" class="btn btn-primary my-2 col-4 label-align" id="btnSave">Register!</button>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
<script type="text/javascript" src="{% static 'alignForm.js' %}"></script>
{% endblock %}